<nav class="nav-bar">
    <img class="img-navbar" src="/images/vodafone-navbar2.png">
    <a class="menu-item" href="/">Home</a>
    <a class="menu-item" href="about"> About</a>
    <a class="menu-item" href="users">Users</a>
    <a class="menu-item" href="shop">Shop</a>
    <div class="ux-nav">
        <div class="right-side menu-item">
            <button class="menu-item" id="user-icon">
            <a href="/cart"><i class="fas fa-shopping-cart menu-shopping-cart"></i></a>
            <span class="shopping-cart-span">0</span>
            </button>
            <!-- <a class="menu-item user-item" href="#">
                <i class="fas fa-user"></i>
            </a> -->
        </div>
        <div class="log-buttons">
            <a href="/auth/register"><button href="/auth/register" type="button" class="register">Register
    </button></a>
            <a href="/auth/login"><button href="/auth/login" type="button" class="log-in">Log in
    </button> </a>
            <a href="/auth/login"><button href="/auth/login" type="button" class="log-out">Log out
    </button> </a>
        </div>
    </div>
</nav>